.aui .wwwprv-portlet-wrapper ul {
    margin-left: 0;
}

.aui .wwwprv-portlet-wrapper .label {
    margin-top: 10px;
    font-size: 1.0em;
}

.wwwprv-portlet-wrapper .portlet-content-wrapper {
    font-size: 1.2em;
}

.wwwprv-portlet-wrapper td {
    padding: 3px 6px;
}

.wwwprv-portlet-wrapper thead {
    font-size: 1.1em;
    font-weight: bold;
}

.wwwprv-portlet-wrapper .ui-inplace .ui-inplace-display {
    padding: 2px;
    transition: all 0.05s ease;
    border-radius: 2px;
}

.wwwprv-portlet-wrapper tbody tr:hover {
    background: #DFEEFF;
}

.wwwprv-portlet-wrapper .toggle-choose-suppliers:after {
    content: "";
    background: url(../image/arrow_down.png) no-repeat 0 0;
    position: absolute;
    width: 14px;
    height: 10px;
    margin: 5px 0 0 8px;
    transition: all 150ms ease;
}

.wwwprv-portlet-wrapper .toggle-choose-suppliers.expanded:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wwwprv-portlet-wrapper .chosen-suppliers {
    padding-right: 30px;
}

.aui .ui-datatable thead th, .ui-datatable tfoot td {
    text-align: left;
}

/* File upload */
.wwwprv-portlet-wrapper .file-upload-section {
    margin-top: 20px;
}

.wwwprv-portlet-wrapper .ui-fileupload {
    padding-bottom: 40px;
    position: relative;
}

.wwwprv-portlet-wrapper .ui-fileupload-upload {
    bottom: 0;
    left: 0;
    position: absolute;
}

.wwwprv-portlet-wrapper .ui-fileupload-cancel.ui-button-text-icon-left {
    bottom: 0;
    left: 125px;
    position: absolute;
}

.aui .wwwprv-portlet-wrapper .label {
    padding-left: 0;
}

.wwwprv-portlet-wrapper .uploaded-file-list {
    margin-top: 20px;
}

.wwwprv-portlet-wrapper .uploaded-file-list ul {
    list-style: none;
}

.aui .wwwprv-portlet-wrapper .progress-bar-wrapper {
    font-size: 1.2em;
    margin-top: 20px;
}

.ui-confirm-dialog-severity {
    display: none !important;
}

.ui-dialog-buttonpane input:first-child {
    margin-right: 20px;
}

.ui-widget-overlay {
    background: #aaaaaa;
}

.wwwprv-portlet-wrapper .ui-fileupload-buttonbar {
    background: none;
    border: none;
}

.wwwprv-portlet-wrapper .ui-fileupload-content {
    background: none;
    border: none;
}

.wwwprv-portlet-wrapper .input-row input {
    margin-left: 16px;
}

.wwwprv-portlet-wrapper .input-row input:first-child {
    margin-left: 0;
}

/* To theme? */

.aui .ui-dialog.ui-widget-content .ui-dialog-titlebar-close:hover {
    padding: 0;
}

.aui .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
    background: transparent;
}

.aui .wwwprv-portlet-wrapper .ui-dialog .ui-dialog-content {
    /*background-color: #FFF;*/
     text-align: left;
}