shared.folder.username=
shared.folder.password=

email.notification.to=
email.notification.cc-array=
email.notification.environment=LOKAL

#fileServiceClass=se.vgregion.portal.wwwprv.service.MockFileAccessService
fileServiceClass=se.vgregion.portal.wwwprv.service.RemoteFileAccessService

population.service.url=
population.service.password=
population.service.cert=